In [3]:
import pandas as pd
data = pd.read_csv('data/adult.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

In [14]:
data['native-country'].value_counts(normalize = True)['Germany']

0.004207487485028101

In [28]:
data[data['salary'] == '>50K']['age'].mean()

44.24984058155847

In [27]:
data[data['salary'] == '>50K']['age'].std()

10.519027719851826

In [29]:
data[data['salary'] == '>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [36]:
data[ (data['sex'] == 'Male') & (data['race'] == 'Amer-Indian-Eskimo')]['age'].max()

82

In [37]:
data[(data['sex'] == 'Male') & (data['salary'] == '>50K')]['marital-status'].value_counts(normalize = True)

Married-civ-spouse       0.891324
Never-married            0.048784
Divorced                 0.042630
Separated                0.007355
Widowed                  0.005854
Married-spouse-absent    0.003452
Married-AF-spouse        0.000600
Name: marital-status, dtype: float64

In [38]:
data['hours-per-week'].max()

99

In [39]:
data[ data['hours-per-week'] == 99].count()

age               85
workclass         85
fnlwgt            85
education         85
education-num     85
marital-status    85
occupation        85
relationship      85
race              85
sex               85
capital-gain      85
capital-loss      85
hours-per-week    85
native-country    85
salary            85
dtype: int64

In [46]:
data[data['salary'] == '<=50K']['hours-per-week'].mean()

38.840210355987054